  @font-face {
        font-family: "myFirstFont";
        src: url("JinNianYeYaoJiaYouYa-2.ttf");
    }

    * {
        margin: 0;
        user-select: none;
    }

    .light{
        height:10vh;
        position:absolute;
        top:53vh;
        right:27vw;

    }


    .textfirst{
        font-family: myFirstFont;
        font-size:18px;
        color:rgb(255, 255, 255);
        position:absolute;
        left:30vw;
        top:33vh;
        width:20vw;
        height:100vh;
        text-align: center;
    }

    .textsecond{
        font-family: myFirstFont;
        font-size:18px;
        color:rgb(104, 38, 38);
        position:absolute;
        left:37.5vw;
        top:33vh;
        height:100vh;
        width:25vw;
        text-align: center;
    }

    .textthird{
        font-family: myFirstFont;
        font-size:18px;
        color:white;
        position:absolute;
        left:43vw;
        top:33vh;
        height:100vh;
    }

    .phone{
        height:50vh;
        position:absolute;
        right:0vw;
        top:55vh;
        transition:filter 0.3s ease-in-out, height 0.3s ease-in-out;
        cursor: pointer;
    }

    .phone:hover{
        filter:brightness(150%);
        height:55vh;
    }

    .screen{
        height:110vh;
        position:absolute;
        left:40vw;
        top:10vh;
    }

    .smoke{
        height:23vh;
        position:absolute;
        left:31vw;
        top:25vh;
        opacity:80%;

    }

    .letter{
        height:18vh;
        position:absolute;
        left:15vw;
        top:65vh;
        rotate:calc(-10deg);
    }

    .open{
        height:80vh;
        position:absolute;
        top:10vh;
        left:33vw;
    }