  @font-face {
        font-family: "myFirstFont";
        src: url("JinNianYeYaoJiaYouYa-2.ttf");
    }

    * {
        margin: 0;
        user-select: none;
    }


    .textfirst{
        font-family: myFirstFont;
        font-size:18px;
        color:rgb(255, 255, 255);
        position:absolute;
        left:35vw;
        top:70vh;
        width:30vw;
        text-align: center;
    }

    .man{
        height:30vh;
        position:absolute;
        right:40vw;
        top:35vh;
        filter:brightness(40%);
        cursor: pointer;
        transition: width 0.3s ease-in-out, height 0.3s ease-in-out, position 0.3s ease-in-out, filter 0.3s ease-in-out;
    }

    .man:hover{
        width:10vw;
        height:40vh;
        position:absolute;
        top:20vh;
        filter:brightness(100%);
    }

    .cigarette{
        height:8vh;
        position:absolute;
        left:45vw;
        top:56vh;
        filter:brightness(50%);
        transition: filter 0.4s ease-in-out;
        cursor: pointer;
    }

    .cigarette:hover{
        filter:brightness(100%);
    }